{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Cover</th>
                <th>Description</th>
                <th>Author</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books.data %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.attributes.title }}</td>
                <td>{{ book.attributes.cover }}</td>
                <td>{{ book.attributes.description }}</td>
                <td>{{ book.attributes.author }}</td>
                <td>{{ book.attributes.status }}</td>
                <td>{{ book.attributes.createdAt ? book.attributes.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_new') }}">Create new</a>
{% endblock %}
