{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.data.0.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.data.0.attributes.title }}</td>
            </tr>
            <tr>
                <th>Cover</th>
                <td>{{ book.data.0.attributes.cover }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.data.0.attributes.description }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.data.0.attributes.author }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ book.data.0.attributes.status }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ book.data.0.attributes.createdAt ? book.data.0.attributes.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.data.0.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
